
.backButton{
    margin-top: 20px;
    font-size: 16px;
    padding: 20px;
    width: 100%;
    max-width: 200px;
    display: block;

}
@media (max-width: 630px) {
    .backButton{
        max-width: 120px;
    }
}